{% extends '_base.html' %}
{% block title %}امتحان {{ exams.subject }}{% endblock %}
{% block context %}
    {% for exam_detail in exams %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>امتحان : {{ exam_detail.subject }}</p>
        <p>طراح:{{ exam_detail.author }}</p>
        <p>ساعت {{ exam_detail.time }}</p>
        <p>مدت زمان ازمون :{{ exam_detail.modat_zaman }}</p>
    {% endfor %}
{#    {% for soal in soal %}#}
{#        <br><br><br><br><br>#}
{#        <h3 class="text-right">{{ soal.quastion }}</h3>#}
{#        <h4 class="text-right">{{ soal.option1 }}</h4>#}
{#        <h4 class="text-right">{{ soal.option2 }}</h4>#}
{#        <h4 class="text-right">{{ soal.option3 }}</h4>#}
{#        <h4 class="text-right">{{ soal.option4 }}</h4>#}
{#    {% endfor %}#}
{% endblock %}